
<div class="ink-grid">
    <div class="box-green">
      <div class="column-group">
        <p class="large-50 medium-50 content-left"><%= image_tag(current_user.avatar.url) if current_user.avatar? %></p>
        <div class="large-50 medium-50 content-left white">
          <% if @user.username? %>
            <h01 class="white"><%= @user.username %></h01>
          <% else %>
            <h1 class="white"><%= current_user.email %></h1>
          <% end %>
        </div>
      </div>
    </div>
</div>


<div class="ink-grid">

<div class="large-33 medium-33">
<div class="box">
  <h3 class="content-center"><a href="#" class="js-show-hide class1" data-selector="js-cancel-account">Cancel my account.</a></h3>
    <div class="js-cancel-account hide">
      <div class="content-center">
        <p>Unhappy?</p>
        <%= button_to "Cancel my account", registration_path(resource_name), class: 'ink-button green', :data => { :confirm => "Are you sure?" }, :method => :delete %>
      </div>
    </div>
  </div>
</div>



<div class="large-33 medium-33">
  <div class="box">
  <h3 class="content-center"><a href="#" class="js-show-hide class1" data-selector="js-edit-user">Edit User Settings</a></h3>
    <div class="js-edit-user hide">
      <div class="ink-form content-center">  
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: 'top-space control-group column-group', :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="control-group"><%= f.label :username %><br />
            <%= f.text_field :username %>
        </div>

        <div class="control-group"><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="control-group"><%= f.label :password %><br /><small>(only if you want to change your password)</small> 
          <br />
          <%= f.password_field :password, :autocomplete => "off" %>
          
        </div>

        <div class="control-group"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

        <div class="control-group"><%= f.label :current_password %><br /><small>(we need your current password to confirm your changes)</small><br />
        <%= f.password_field :current_password %></div>

        <div class="control-group">
          <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
          <%= f.label :avatar, class: 'control-label' %>
          <div class="controls"> 
            <%= f.file_field :avatar %>
          </div>
        </div>

        <div class="control-group"><%= f.submit "Update Profile", class: 'ink-button green' %></div>
      <% end %>
    </div>
  </div>
</div>
</div>





    <div class="large-33 medium-33">
      <div class="box">
      <h3 class="content-center"><a href="#" class="js-show-hide class1" data-selector="js-go-premium">Want to go Premium?</a></h3>
        <div class="js-go-premium hide">
          <div class="content-center">
          <% if current_user.status == "free" %>  
            <p>(This will open a pop-up window.)</p>
              <%= form_tag charges_path do %>
              <article>
                <label class="amount">
                <span>Amount: $5.00</span>
                </label>
              </article>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Premium User Account"
                data-amount="500">
              </script>
              <% end %>
            <% else %>
              <p>You're already a premium member! Thanks!</p>
          <% end %>
        </div>
      </div>
    </div>

</div>

<div class="large-100 medium-100 content-center">
  <%= link_to "Back to Home", :back, class: 'class1' %>
</div>

</div>
