 <div class="ink-grid"> 
  <div class="box">
    <h2 class="content-center"><%= @user.username || @user.email %></h2>
      <div class="content-center">
        <h5>
          <%= pluralize(@user.wikis.count, 'wiki') %>,
          <%= pluralize(@user.discussions.count, 'discussion') %>
        </h5>
        <h4><li class="active"><a href="#wikis" data-toggle="tab">Wikis</a></li>
        <li><a href="#discussions" data-toggle="tab">Comments</a></li></h5>
      </div>
  </div>
</div>




<br/>

<div class="ink-grid">
  <div class="large-50 medium-50 small-100 content-center push-center">     
    <div class="tab-content">
      <div class="tab-pane active" id="wikis">
        <%= render @wikis %>
      </div>
      <div class="tab-pane" id="discussions">
        <%= render @user.discussions %>
      </div>
    </div>
  </div>
</div>