
  <%= form_for [@category, @wiki], html: { class: 'large-100 content-center ink-form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 25, cols: 94 %>
        </div>
      </div>

  
      <div class="control-group gutters">
        <div class="controls">
          <%= f.submit "Save", class: 'ink-button green' %>
        </div>
      </div>

    <%# if can? :manage, Collaboration %>
      <div class="control-group gutters">
        <div class="controls">
          <%= f.label :public, class: 'checkbox' do %>
            <%= f.check_box :public %> Public Wiki
          <% end %>
        </div>
      </div>
    <%# end %>
    

    <div class="control-group gutters">
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>
  <% end %>

    


  