<h1 class="content-center gutters">New Wiki!</h1>

<div class="row">
  <div class="large-30 gutters">
    <h5>Guidelines for new Wikis:</h5>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Source your material when possible.</li>
      <li>Minimum wiki length is 100 characters.</li>
      <li>Make learning fun!</li>
    </ul>
  </div>
  <form class="large-70 content-center">
    <%= form_for @wiki, html: { class: 'ink-form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :body, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :body, rows: 15 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
  </form>
</div>