<div class="ink-grid">
  <div class="column-group">
    <div class="large-33 medium-33 small-33 push-center">
      <div class="box">
        <h1 class="content-center green"><%= @wiki.title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="ink-grid">

  <div class="large-100">
    <%# if can? :edit, @wiki %>
      <%= link_to "Edit Wiki", edit_category_wiki_path(@category,@wiki), class: 'ink-button green' %>
    <%# end %>
  </div>

  <div class="large-100">
    <%# if can? :manage, Collaboration %>
      <%= link_to "Collaborators", new_category_wiki_collaboration_path(@category,@wiki,@collaborations), class: 'ink-button green' %>
    <%# end %>
  </div>
  
    <div class="large-80 medium-80 small-80">
      <div class="box content-center gutters">
          <p><%= markdown @wiki.body %></p>
      </div>
    </div>

  <% if @wiki.image? %>
    <div class="large-20 medium-20 small-20">
      <div class="box content-center gutters">
         <div class="controls">
          <p><%= image_tag(@wiki.image) %></p>
        </div>
      </div>
    </div>
  <% end %>


  <div class="large-80 medium-80 small-80 gutters">
    <%= render @discussions %>
  </div>

  </div class="large-20 medium-20 small-20">
      <%= render partial: 'discussions/form', locals: { category: @category, wiki: @wiki, discussion: @discussion } %>
  </div>

  

</div>