<h1 class="content-center gutters">Edit Category</h1>

<div class="row">
  <div class="large-30 gutters">
    <h5>Guidelines for new a new Category:</h5>
    <li>
      <ul>Make sure content is appropriate.</ul>
      <li>Categores should be broad i.e. Animals, not Tigers.</li>
      <li>Minimum wiki length is 100 characters.</li>
      <li>Make learning fun!</li>
    </li>
  </div>
    <%= form_for @category, html: { class: 'large-70 content-center ink-form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, rows: 15 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
</div>
