<h1 class="content-center"><%= @category.name %></h1>

  <% if can? :update, @category %>
    <div class="content-center">
      <%= link_to "Edit Category", edit_category_path, class: 'ink-button green' %>
    </div>
  <% end %>

  <% if can? :create, Wiki %>
    <div class="content-center">
      <%= link_to "Create New Wiki", new_category_wiki_path(@category), class: 'ink-button green' %>
    </div>
  <% end %>

    <div class="box gutters">
      <h5 class="content-center">
        <%= @category.description %>
      </h5>
    </div>

  <% @wikis.each do |wiki| %>
        <div class="content-center large-25 medium-50 small-50">
          <h6 class="content-center"><%= link_to (markdown wiki.title), [@category, wiki] %></h6>
            <div class="box gutters">
              An image will go here later
            </div>      
        </div>
    <% end %>
