<!DOCTYPE html>
<html>
<head>
  <title>Mywiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ink-navigation nav">
  <ul class="menu horizontal rounded shadowed green">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
      <ul class="pull-right">
        <% if current_user %>
        <li class="user-info">Hello <%= current_user.email %>!</li> <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or 
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </ul>
  </ul>

  <% if flash[:notice] %>
        <div class="ink-alert basic info">
          <button class="ink-dismiss">&times;</button>
          <%= flash[:notice] %>
        </div>

      <% elsif flash[:error] %>
        <div class="ink-alert basic error">
          <button class="ink-dismiss">&times;</button>
          <%= flash[:error] %>
        </div>

      <% elsif flash[:alert] %>
        <div class="ink-alert basic">
          <button class="ink-dismiss">&times;</button>
          <%= flash[:alert] %>
        </div>

    <% end %>

  <%= yield %>
</div>

</body>
</html>
